body{
  /* задаёт путь до файла */
  background-image: url("gifка.gif");
  /* задает стартовое положение изображения на странице */
  background-position: center center;
  /* определяет размер изображения на странице */
  background-size: cover;
  /* свойство устанавливает, будет ли повторяться изображение и каким образом */
  background-repeat: no-repeat;
  /* cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */
  background-attachment: fixed;

  /* возможна также и короткая запись данных свойств */
  // background: url("gifка.gif") center center no-repeat  fixed;
  // background-size: cover;
}